doctype html
html
  head
    title my jade template
    link(rel="stylesheet" type="text/css" href="assets/css/style.min.css")
    //if lt IE 7
    link(rel="stylesheet" type="text/css" href="all-ie-only.css")

  body
    div#landing-page 
      .lp-header
        .lp-banner
          .lp-banner__title.lp-banner__title_lvl1 Męska rzecz
          .lp-banner__title.lp-banner__title_lvl2 Wybierz dla niego coś specjalnego
          .lp-banner__title.lp-banner__title_lvl3 Użyj kodu CHLOPAK, aby obniżyć cenę wybranego produktu.
        .lp-info.
          prezenty na dzień chłopaka<br> <strong>zobacz teraz</strong>
      .lp-main
        .lp-nav
          each item in items
            div(class=`lp-nav__elem lp-nav__elem_${item.id}`)
              .lp-nav__img
                img(src=item.icon alt=item.name)
              .lp-nav__text
                span #{item.name}
              a(href=item.url rel="nofollow").lp-btn.lp-btn_white sprawdź
              .lp-nav__elem-hover
                .lp-nav__img
                  img(src=item.icon alt=item.name)
                .lp-nav__text
                  span #{item.name}
                a(href=item.url rel="nofollow").lp-btn.lp-btn_white sprawdź
      .lp-footer
        a(href="regulamin.pdf" rel="nofollow").btn Regulamin
    //- script(src="assets/js/app-bundle.min.js")

